<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${onereview.title}" />
	<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
</head>
<body>
	<h1 class= "movie-title" th:text="${onereview.title}" />
	<p class= "tag-line" th:text="${onereview.synopsis}" />
	<p class= "movie-stats" th:text="
	'Rated: ' + ${onereview.rating} + ' | ' +
	'Runtime: ' + ${onereview.runtime} + ' | ' +
	'Genres: ' + ${onereview.reviewCategory} + ' | ' +
	'Release Date: ' + ${onereview.date}" />
	<p class= "movie-people" th:text="'Stars: ' + ${onereview.content}  + ' | ' +
	'Director: ' + ${onereview.director}"/>
	<img class= "movie-poster" th:src="${onereview.imageUrl}"/>
	<iframe class= "movie-clip" th:src="${onereview.videoClip}"></iframe>
</body>
<footer class="footer"> 
	<p>Posted by Keith Kulwicki 2017</p>
</footer>
</html>